*{
   padding: 0;
   margin: 0;
   box-sizing: border-box; 
   --bg-color:grey;
}.card {
  /* color used to softly clip top and bottom of the .words container */
  padding: 1rem 2rem;
  border-radius: 1.25rem;
}
.loader {
  color: rgb(124, 124, 124);
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 25px;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 40px;
  padding-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 8px;
}

.loader p{
   color: red;
   font-size: 50px;
   padding-bottom: 200px;
}
.words {
  overflow: hidden;
  position: relative;
}
.words::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    var(--bg-color) 10%,
    transparent 30%,
    transparent 70%,
    var(--bg-color) 90%
  );
  z-index: 20;
}

.word {
  display: block;
  height: 100%;
  padding-left: 6px;
  color: #956afa;
  animation: spin_4991 6s infinite;
}

@keyframes spin_4991 {
  10% {
    -webkit-transform: translateY(-102%);
    transform: translateY(-102%);
  }

  25% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }

  35% {
    -webkit-transform: translateY(-202%);
    transform: translateY(-202%);
  }

  50% {
    -webkit-transform: translateY(-200%);
    transform: translateY(-200%);
  }

  60% {
    -webkit-transform: translateY(-302%);
    transform: translateY(-302%);
  }

  75% {
    -webkit-transform: translateY(-300%);
    transform: translateY(-300%);
  }

  85% {
    -webkit-transform: translateY(-402%);
    transform: translateY(-402%);
  }

  100% {
    -webkit-transform: translateY(-400%);
    transform: translateY(-400%);
  }
}

.web{
padding-left: 20px;
padding-bottom: 25px;
font-family: Arial, Helvetica, sans-serif;
letter-spacing: 1.2px;
line-height: 30px;
color:lawngreen;
font-size: 20px;
}
.btn{
  display: flex;
  padding: 11px 33px;
  margin-left: 200px;
  margin-top: 50px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  background: #6225e6;
  transition: 1s;
  box-shadow: 6px 6px 0 black;
  transform: skewX(-15deg);
  border: none;
  cursor: pointer;
}

.btn:focus {
  outline: none;
}

.btn:hover {
  transition: 0.5s;
  box-shadow: 10px 10px 0 #fbc638;
}

.btn .second {
  transition: 0.5s;
  margin-right: 0px;
}

.btn:hover .second {
  transition: 0.5s;
  margin-right: 45px;
}

.span {
  transform: skewX(15deg);
}

.second {
  width: 20px;
  margin-left: 30px;
  position: relative;
  top: 12%;
}

.one {
  transition: 0.4s;
  transform: translateX(-60%);
}

.two {
  transition: 0.5s;
  transform: translateX(-30%);
}

.btn:hover .three {
  animation: color_anim 1s infinite 0.2s;
}

.btn:hover .one {
  transform: translateX(0%);
  animation: color_anim 1s infinite 0.6s;
}

.btn:hover .two {
  transform: translateX(0%);
  animation: color_anim 1s infinite 0.4s;
}

@keyframes color_anim {
  0% {
    fill: white;
  }

  50% {
    fill: #fbc638;
  }

  100% {
    fill: white;
  }
}


body{
   background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('/IDODO_CITY.jpeg');
   background-repeat: no-repeat;
   background-size: cover;
   background-position: top center;
}

@media  (max-width:800px){
  
nav{
    height: fit-content;
    width: 200vw;
  }
  
  body{
    width: 950px;
    
  }
 
  
}




