*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --secondaryColor:#ff362b34;
    
        
  }
  
  @media  (max-width:600px){
    nav{
      height: fit-content;
      width: 80%;

    }
    form{
      width: 100%;
     
    }
    h1{
      width: 100%;
      
    }
    ul li ul.dropdown-menu{
      width: 9vw;
      height: 32vh;
    }
  } 
    
  
  nav{
      display:flex;
      align-items:center;
      justify-content: space-between;
     background: linear-gradient(blue, #a363aa);
      height:35vh;
      padding: 5px 10px;
      width: 100%;
      position:relative;
      font-size: 14px;
      font-weight: bolder;
      font-family:Georgia, 'Times New Roman', Times, serif;
      backdrop-filter: blur(10px);
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      border: 2px solid rgba(255, 255, 255, 0.18);
  }
  #image{
      border-radius: 100px;
      margin-left: 20px;
  }
  
   ul{
      
      display:flex;
      flex-direction: row;
      list-style: none;
      
      
      
  }
  
  ul li{
    display:inline-block;
    position: relative;
  }
  ul li a{
    padding: 10px 15px;
    text-decoration: none;
    color:lawngreen;
    font-size: 14px;
    
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  ul li a:hover,
  ul li a.active{
    background:none;
    color:#fff;
    box-sizing: border-box;
    border-radius: 3px;
  }
  
  ul li a:hover::after,
  ul li a.active::after{
      content: "";
      width: 40%;
      height: 2px;
      position:absolute;
      bottom: -4px;
      left:20px;
      margin-top: 10px;
      background: #fff;
  }
  
  
.dropdown-menu{
  line-height: 2.5;
}

ul li ul.dropdown-menu li{
font-size: 12px;
  display: block;
}

ul li ul.dropdown-menu{
  width: 9vw;
  height: 32vh;
  position: absolute;
  z-index: 999;
  display: none;
  padding: 0px;
  backdrop-filter: blur(10px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 2px solid rgba(255, 255, 255, 0.18);
    
  top: 20px;
}



ul li:hover ul.dropdown-menu{
  display: block;
}


 
nav button{
    background: var(--secondaryColor);
    color: white;
    padding: 10px 20px;
    margin-left: 20px;
    height:40px;
    width: 140px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-size: 14px;
  text-align: center;
  justify-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
  
nav button:hover{
  background: grey;
}


nav button:hover .svg-icon {
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(-360deg);
  }
}

    h1 {
      text-align:center;
      padding:15px;
      margin: 0 0 10px 0;
      color:#fff; 
      font-size: 30px;
      font-weight: bolder;
      font-family: Arial, Helvetica, sans-serif;
      line-height: 1.0;
      }
  
      @keyframes bounce {
          40% {
            transform: translateY(-10px);
          }
          60% {
            transform: translateY(-5px);
          }
          0%,
          20%,
          50%,
          80%,
          100% {
            transform: translateY(0);
          }
        }
  
        #image{
          
          animation:bounce 3s infinite;
      }
   

  h3{
    text-align: center;
    color:lawngreen;
    font-weight: bolder;
    font-size: 18px;
  }
  h3:hover{
  color: chocolate;
  }

  .conatiner{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
  }

  h12{
    color:gray;
    font-size: 12;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 500px;
     margin-top: 200px;
  }

  
 @keyframes colorChange {
            0% { color: lawngreen; }
            25% { color: #e74c3c; }
            50% { color: #f1c40f; }
            75% { color: #1a1a1a; }
            100% { color: #fff }
        }
      h1{
            animation: colorChange 8s infinite;
        }